<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunset Hunter</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <main class="flex-parent">

        <h1>SUNSET HUNTER</h1>
        <h2>Pôr do sol atualizado na região de SP!</h1>
        <h3>Horário:</h2>
        <p class="sunset"> <%=  sunset  %> </p>
        <img class="ufo" src="/images/Day Sun.png" alt="">
        <img class="background-image" src="/images/soft-vintage-gradient-blur-background-with-pastel-colored-well-use-as-studio-room-product-presen.jpg" alt="">
        <section class="button">
            <a href="https://www.google.com/search?q=por+do+sol&rlz=1C1GCEA_enBR919BR919&oq=por+do+sol&gs_lcrp=EgZjaHJvbWUqDggAEEUYJxg7GIAEGIoFMg4IABBFGCcYOxiABBiKBTIKCAEQABiSAxiABDINCAIQABiSAxiABBiKBTIHCAMQABiABDIHCAQQABiABDIHCAUQABiABDIHCAYQABiABDIGCAcQRRg90gEIMjI0OWowajeoAgCwAgA&sourceid=chrome&ie=UTF-8"> <button >Saiba mais sobre o pôr do sol</button></a>
            <a href="https://www.linkedin.com/in/davi-pereira-913034277/"><button >Siga o desenvolvedor desse site</button></a> 
         </section>
         <p class="footer">DAVI PEREIRA WEB DEVELOPER - 2024</p>
         
    </main>
</body>
</html>